@{
    ViewBag.Title = "Employee Portal";
}

<div class="jumbotron">
    <h1>DentSmile Dentistry</h1>
    <p class="lead">35 Howard Street, Toronto, Ontario M1L 4W4</p>
    <p><a href="" class="btn btn-primary btn-lg">Check the website &raquo;</a></p>
</div>

