@{
    ViewBag.Title = "Office Information";
}
<h2>@ViewBag.Title</h2>

<p>At DentSmile Dentistry, your health is our #1 priority! With our highly-trained professionals,
    state-of-the-art technologies, and spa-like environment we can provide you with the highest
    quality care you can find anywhere today. It doesn’t matter whether you need a basic, routine
    check-up and cleaning, gum contouring, laser hygiene therapy, or a root canal, we at Aurora
    Dentistry have the expertise to help you with all your dental needs!</p>
<br /><br />
      <div class="container-fluid" style="position:sticky;">
          <ul class="nav nav-tabs nav-justified">
              <li><a href="#officeinfo">About the office</a></li>
              <li><a href="#dentistinfo">Meet our Dentists</a></li>
              <li><a href="#staffinfo">Meet our Staff</a></li>

          </ul>


          <div class="jumbotron row officeinfo">
              <h2>Visit Us</h2>
              <address style="text-decoration: double;">
                  35 Howard Street<br />
                  Toronto, Ontario M1L 4W4<br />
                  <abbr title="Phone">Phone:</abbr>
                  425.555.0100
              </address>
              <p class="lead">We are located at the very heart of downtown of Toronto.</p>
              <center style="border:groove;">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2885.896790639735!2d-79.37689828450169!3d43.671116279120696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4cb515f8799df%3A0x9ca10dfb23c0e208!2s35%20Howard%20St%2C%20Toronto%2C%20ON%20M4X%201J6!5e0!3m2!1sen!2sca!4v1584952695969!5m2!1sen!2sca" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
              </center><br />
              <p><a href="https://goo.gl/maps/FRndyyTpJs5DQitP6" class="btn btn-primary btn-lg">Check on Google Map &raquo;</a></p>
          </div>
          <br /><br />




          <div class="staffwrapper" id="staffinfo">
              <!-- Title: STAFF -->
              <div class="row" style="margin: 0px; padding: 10px; height:100px;">
                  <div class="col-12">
                      <center><h1 style=" text-decoration:underline; font-size: 40px; padding-bottom: 10px;">Meet our Staff</h1></center>
                  </div>
              </div><br /><br />

              <!-- start staff profile -->
              <div class="row">
                  <div class="col-lg-2">
                      <center><img src="~/Content/img/ourofffice/staff/dionabachar.PNG" /></center>
                  </div>
                  <div class="col-lg-8" style="padding-left:120px;">
                      <h2>Diona Bachar</h2>
                      <h3 class="lead">Dental Assistant || Level I</h3>
                      <p>
                          Diona is a dedicated member of our dental team, acting as a Level I Certified Dental Assistant
                          for Dr. Albine for over 10 years. Diona takes great pride in providing a personalized approach to
                          her care of patients, and is commended by patients on her ability to put them at ease. Diona will
                          capture you with her infectious smile and genuine concern for not only your orthodontic needs but
                          also your overall well-being, adding to your orthodontic experience. When Diona is not caring for
                          patients, she is enjoying time with her family and relaxing with a good book.
                      </p>
                  </div>
              </div>
              <br /><br /><br /><br />

              <div class="row">
                  <div class="col-lg-2">
                      <center><img src="~/Content/img/ourofffice/staff/rominachang.PNG" /></center>
                  </div>
                  <div class="col-lg-8" style="padding-left:120px;">
                      <h2>Romina Chang</h2>
                      <h3 class="lead">Dental Assistat || Level II</h3>
                      <p>
                          Romina is our dental assistant. She graduated with honors in 2010 from Everest College.
                          She takes pride in ensuring patient comfort and that patients have a thorough understanding
                          of dental procedures prior to being performed. Being in the office full time she is able to
                          ensure proper sterilization protocol is followed. She has experience working with all age groups
                          and looks forward to building relationships and welcoming new patients to our office.
                      </p>
                  </div>
              </div>
              <br /><br />

              <div class="row">
                  <div class="col-lg-2">
                      <center><img src="~/Content/img/ourofffice/staff/princesscalacal.PNG" /></center>
                  </div>
                  <div class="col-lg-8" style="padding-left:120px;">
                      <h2>Princess Calacal</h2>
                      <h3 class="lead">Dental Office Administrator</h3>
                      <p>
                          Princess graduated as a Level I Dental Assistant in 2005, and returned to school in September 2007 to obtain her Dental Treatment
                          Coordinator Certificate. Princess joined our team as a Practice Administrator in 2013. Princess will greet you with professionalism
                          and warmth from your first call to our office, right through until we celebrate your new, confident smile. She will assist you
                          in booking appointments, helping you navigate your best orthodontic experience, and provide a customized financial plan for
                          your preventative treatment.
                      </p>
                  </div>
              </div>
              <br /><br />
          </div>

          <div class="dentistwrapper" id="dentistinfo">
              <!-- Title: DENTIST -->
              <div class="row" style="margin: 0px; padding: 10px; height:100px;">
                  <div class="col-12">
                      <center><h1 style=" text-decoration:underline; font-size: 40px; padding-bottom: 10px;">Meet our Dentist</h1></center>
                  </div>
              </div><br /><br />
              <!-- start dentist profile -->
              <div class="row">
                  <div class="col-lg-2">
                      <center><img src="~/Content/img/ourofffice/dentist/drAlbine.PNG" width="253" height="250" /></center>
                  </div>
                  <div class="col-lg-8" style="padding-left:120px;">
                      <h2>Dr. Albine M Wiersema</h2>
                      <h3 class="lead">Owner, DentSmile Dentistry || Doctor of Dental Surgery</h3>
                      <p>
                          Dr. Albine Miciano-Wiersema has several years of experience practicing dentistry in the Greater Toronto Area
                          prior to moving to Niagara Falls, where she maintains a primary practice. Her skills and knowledge across
                          all aspects of general, cosmetic and restorative dentistry has been a great addition to Tooth Smile Dental.
                          Dr. Miciano-Wiersema maintains memberships with the Royal College of Dental Surgeons of Ontario,
                          Canadian Dental Association, and Ontario Dental Association.
                      </p>
                  </div>
              </div>
              <br /><br /><br /><br />
              <div class="row">
                  <div class="col-lg-2">
                      <center><img src="~/Content/img/ourofffice/dentist/drMansur.PNG" width="253" height="250" /></center>
                  </div>
                  <div class="col-lg-8" style="padding-left:120px;">
                      <h2>Dr. Mansur Ahmedi</h2>
                      <h3 class="lead">Associte || Doctor of Dental Surgery</h3>
                      <p>
                          Dr. Mansur Leighton, affectionately referred to by his patients as Dr. Leighton, is a highly-respected dental
                          practitioner who has successfully operated multiple practices both nationally and internationally for more
                          than 12 years. Over the course of his career, Dr. Ben has immersed himself in numerous patient care programs
                          and different educational programs, all tailored to improving and enhancing the level of service to his patients,
                          and the overall improvement of the various dental practices he has operated. He is also a firm believer
                          of preventive dentistry. He has spent a vast amount of time focusing on how to prevent further damage to
                          teeth and how to make sure they will be functional for literally a lifetime.
                      </p>
                  </div>
              </div>
              <br /><br />
              <div class="row">
                  <div class="col-lg-2">
                      <center><img src="~/Content/img/ourofffice/dentist/drYoung.PNG" width="253" height="250" /></center>
                  </div>
                  <div class="col-lg-8" style="padding-left:120px;">
                      <h2>Dr. Jessica Young</h2>
                      <h3 class="lead">Associate || Doctor of Dental Surgery</h3>
                      <p>
                          Dr. Jessica Young is an experienced Dentist. After graduation, she worked overseas in public sector for many years.
                          She gained a Masters degree with a research area of periodontology. She also completed training in
                          The Royal Dental Hospital of Melbourne. Dr. Young is very gentle and has an ethos of personalised patient care.
                          She is highly skilled in all aspects of general dentistry, and has special interest in cosmetic dentistry and
                          periodontal disease. She understands how to speak to children and can create relax environment for patients.
                      </p>
                  </div>
              </div>
              <br /><br />
          </div>


      </div>