@{
    ViewBag.Title = "Treatment Plans";
}

    <div class="container-fluid">
        @* Title *@
        <div class="row">
            <center class="jumbotron"><h1>Treatment Plans</h1></center>
        </div>

        <div class="row">
            <div class="col-lg-6" style="background-color:navy; padding:20px; width:500px; margin-left:auto; margin-right:auto; border-radius: 10px;">
                <img src="~/Content/img/treatmentplans/rct.jpg" style=" width:450px"/>
            </div>

            <div class="col-lg-6" style="background-color: aquamarine; border-radius: 10px; padding: 20px;">
                <h2>Root Canal Treatment</h2>
                <p class="lead">
                    “Root canal therapy is common
                    procedure for saving damaged or diseased teeth.
                    Retaining a natural tooth is more efficient in
                    chewing and biting and is less expensive than
                    replacing it with an artificial one.”
                </p>
            </div>
        </div><br /><br />

        <div class="row">
            <div class="col-lg-6" style="background-color:#08F7FE; width:500px; border-radius: 10px; padding: 20px;">
                <h2>Bonding</h2>
                <p class="lead">Your Smile Can be Improved!</p>
                <p>
                    "A smile is a powerful way for you to communicate.
                    But if you feel self-conscious about your teeth,
                    you may lose this power by not smiling at all or
                    by covering your mouth when you smile. With advances
                    in modern dentistry, there’s no reason you should be
                    unhappy with the way your teeth look.<br />
                </p>
            </div><br /><br />

        <div class="col-lg-6" style="background-color:navy; padding:20px; width:600px; margin-left:auto; margin-right:auto; border-radius: 10px;">
                <img src="~/Content/img/treatmentplans/bonding.jpg" style=" width:560px"/>
            </div>
        </div><br /><br />

        <div class="row">
            <div class="col-lg-6" style="background-color:navy; width:580px; border-radius: 10px; padding: 20px;">
                <img src="~/Content/img/treatmentplans/halitosis.jpg" style="width:530px;" />
            </div>
            <div class="col-lg-6" style="background-color:#FFACFC; width:400px; border-radius: 10px; padding: 20px;">
                <h2>Halitosis</h2>
                <p class="lead">Conquering Bad Breath</p>
                <p>
                    “Bad breath is nuisance for all of us at some
                    point in our lives but chronic halitosis could
                    be a symptom of a more”.
                </p>
            </div>
        </div><br /><br />

        <div class="row">
            <div class="col-lg-6" style="background-color:#FF9472; width:500px; border-radius: 10px; padding: 20px;">
                <h2>Periodontitis</h2>
                <p class="lead">Preventing Gum Disease</p>
                <p>
                    “By combining your efforts
                    with those of your periodontist and your general dentist,
                    your teeth and gums may be restored to health. An attractive
                    appearance, healthy teeth and gums, and comfortable
                    eating… Now that’s something to smile about!”
                </p>
            </div>
            <div class="col-lg-6" style="background-color:navy; width:580px; border-radius: 10px; padding: 20px;">
                <img src="~/Content/img/treatmentplans/perio.jpg" style="width:530px;" />
            </div>
        </div><br /><br />

        <div class="row">
            <div class="col-lg-6" style="background-color:navy; width:580px; border-radius: 10px; padding: 20px;">
                <img src="~/Content/img/treatmentplans/denture.jpg" style="width:540px;"/>
            </div>
            <div class="col-lg-6" style="background-color:lemonchiffon; width:500px; border-radius: 10px; padding: 20px;">
                <h2>Dentures</h2>
                <p class="lead">Replace Your Missing Teeth</p>
                <p>
                    Dentures can give you back your smile. If you
                    have lost or damaged most or all of your teeth,
                    ask your dentist if dentures are a solution for your smile.”
                </p>

                </p>
            </div>
        </div><br /><br />







    </div>
